<div class="footer">
  <mat-list class="mat-list">
    <mat-list-item>
      <a   class="footer-item" mat-line href="">Become a Seller</a>
    </mat-list-item>
    <mat-list-item>
      <a  class="footer-item"mat-line href="">Policies</a>
    </mat-list-item>
    <mat-list-item>
      <a    class="footer-item" mat-line href="">Terms </a>
    </mat-list-item>
    <mat-list-item>
      <a  class="footer-item"mat-line href="">Help Center</a>
    </mat-list-item>
    <mat-list-item>
      <a   class="footer-item"mat-line href="">News</a>
    </mat-list-item>
    <mat-list-item>
      <a  class="footer-item"mat-line href="">Facebook</a>
    </mat-list-item>
    <mat-list-item>
      <a  class="footer-item"mat-line href="">Youtube</a>
    </mat-list-item>
    <mat-list-item>
      <a class="footer-item" mat-line href="">Sitemap</a>
    </mat-list-item>
    <mat-list-item>
      <a class="footer-item" mat-line href="">FAQ</a>
    </mat-list-item>
  </mat-list>

</div>


<!-- <div class="footer">
    <ul>
        <li>
          <a href="">Become a Seller</a>
        </li>
        <li>
          <a href="">Polices</a>
        </li>
        <li>
          <a href="">Terms and Conditions</a>
        </li>
        <li>
          <a href="">Help Center</a>
        </li>
        <li>
            <a href="">News</a>
        </li>
        <li>
            <a href="">Facebook</a>
        </li>
        <li>
            <a href="">Youtube</a>
        </li>
        <li>
            <a href="">Sitemap</a>
        </li>
        <li>
            <a href="">FAQ</a>
        </li>
      </ul>
  <p>© 2022 E-comme Project</p> 
      
</div>  -->
