.product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#image-container {
  top: 0;
  position: sticky;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 20px;
}

.show-image {
  width: 100%;
  height: 400px;
  position: relative;
}








.button-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.slider-main{
  display: flex;
  gap: 20px;
  padding: 0 20px;
}

.item{
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.button-image mat-card {
  flex: 1;
  max-width: 100px;
  height: 100px;
}
.prev-org{
  position: absolute;
  left:23px;
  top: 50%;
  transform: translate(-50% , -50%);
}
.prev-org:hover {
  background-color: whitesmoke;
  transition: background-color 0.3s ease;
}

.next-org{
  position: absolute;
  right:-20px;
  top: 50%;
  transform: translate(-50% , -50%);
}
.next-org:hover {
  background-color: whitesmoke;
  transition: background-color 0.3s ease;
}







.product-image {
  width: 100%;
  height: 100%;
  transition: transform 0.1s ease-in-out;
}

.product-image:hover {
  /* transform: scale(1.2); */
  z-index: 999;
  border-radius: 4px;
}


.col-md-6.details {
  padding: 20px;
  margin: 20px 0 0 0;
}

h1,
h3,
h6 {
  margin-bottom: 20px;
}

.product-color {
  border: 3px solid #000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.quantity-group {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.quantity-button {
  min-width: 36px;
  min-height: 36px;
  margin: 0 8px;
}

.quantity-input {
  width: 60px;
}

.quantity-button:hover {
  background-color: #e0e0e0;
}

.button-contr {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  align-items: center;
}

.button-comm,
.form-button {
  height: 35px;
  border: 1px solid blueviolet;
  cursor: pointer;
  margin: 10px 15px;
  flex: 0 0 calc(30% - 25px);
}

.button-comm:hover,
.form-button:hover {
  background-color: black;
}







.Specifications-accordion {
  margin: 20px;
  /* padding: 20px; */
}

.Specifications-expen {
  /* background-color: black; */
  /* color: white; */
  margin-bottom: 10px;
}

.expansion_panel_header_0 {
  /* background-color: black; */
  /* color: white; */
  margin-bottom: 10px;
  /* Adjust margin as needed */
  padding: 10px;
  /* Add padding */
}

.expansion_panel_header_1 {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 111%;
}

.expansion_panel_header_2,
.expansion_panel_header_3,
.expansion_panel_header_4 {
  padding: 10px;
  margin: 10px;
  margin-bottom: 40px;
  /* background-color: #000; */
  /* color: white; */
  height: auto;
  width: calc(30% - 20px);

}

.expansion_panel_header_2 h4,
.expansion_panel_header_3 h4,
.expansion_panel_header_4 h4 {
  margin-bottom: 5px;
}

.expansion_panel_header_2 p,
.expansion_panel_header_3 p,
.expansion_panel_header_4 p {
  margin-bottom: 10px;
}

.mat-divider {
  margin-top: px;
  margin-bottom: 20px;
  border-top: 2px solid #7e6060;
}

.view_button {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 50px;
}





/* .mat-expansion-indicator::after {
    border-style: solid;
    border-width: 0 2px 2px 0;
    content: "";
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    vertical-align: middle;
    color: red;
} */

.slider-image{
  border-radius: 4px;
  object-fit: fill;
}

.main-image{
  border-radius: 4px;
  object-fit: contain;
}

.left-aside{
  padding: 0;
}

.left-aside,.right-aside{
  max-width: 49%;
}

.Specifications-accordion h1{
  padding: 0;
  margin: 0;
}






.slider-container-org {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
  height: 240px;
  background-image: linear-gradient(to right, #4a90e2, #8a2be2, #e52b50);
  border-radius: 15px;
  overflow: hidden;
}

  .slider-heading-org{
    margin-top: 20px;
    /* margin-left: 25px; */
  }
  .slider-wrap-org{
    position: relative;
    overflow: hidden;
    height: 150px;
  }
  .slider-main-org{
    position: absolute;
    width: 1000%;
  }
  .item-sed{
    display: inline-block;
    width: 228px;
    height: 120px;
    background-color: white;
    position: relative;
    margin: 0 12px;
    vertical-align: middle;
  }
  .item5-org {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100px;
    align-items: center;

  }

  .category-name-org {
    margin-right: 10px;
    padding: 10px;
  }

  .item5-org img {
    max-width: 120px;
    padding: 10px;
    height: 107px;
    margin-top: 20px;
    object-fit: cover;
  }
  .prev-org{
    position: absolute;
    left:5px;
    top: 50%;
    transform: translate(-50% , -50%);
  }
  .prev-org:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }

  .next-org{
    position: absolute;
    right:-40px;
    top: 50%;
    transform: translate(-50% , -50%);
  }
  .next-org:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
