<mat-card *ngIf="productData" class="product-details">
  <mat-card-content class="row">
    <div class="col-md-6 col-sm-12 left-aside">
      <div id="image-container">
        <mat-card class="show-image">
          <img class="product-image main-image" [src]="productData.image" alt="main-image">
        </mat-card>
        <mat-card class="button-image">

          <div class="slider-wrap">
            <div class="slider-main">
              <div class="item" *ngFor="let image of images;">
                <mat-card mat-icon-button (click)="changeImage(image)">
                  <img class="product-image slider-image" [src]="image" alt="slider-image">
                </mat-card>
              </div>
            </div>
            <div class="button-area-org">
              <button mat-icon-button class="prev-org  " appPrev>
                <mat-icon>keyboard_arrow_left</mat-icon>
              </button>
              <button mat-icon-button class="next-org  " appNext>
                <mat-icon>keyboard_arrow_right</mat-icon>
              </button>
            </div>
          </div>

        </mat-card>
      </div>
    </div>




    <mat-card class="col-md-6 details right-aside">
      <h1>{{productData.name}}</h1>
      <mat-divider></mat-divider>
      <h3>Price: {{productData.price}}</h3>

      <div>
        Color:
        <div [style.backgroundColor]="productData.color" class="product-color"></div>
      </div>
      <h6>Category: {{productData.category}}</h6>
      <h6>Description: {{productData.description}}</h6>

      <div class="quantity-group">
        <button mat-icon-button (click)="handleQuantity('min')">
          <mat-icon>remove</mat-icon>
        </button>
        <input matInput type="text" [value]="productQuantity" disabled>
        <button mat-icon-button (click)="handleQuantity('plus')">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="button-contr">
        <button mat-raised-button color="primary" routerLink="/cart-page" class="button-comm">Buy Now</button>
        <button *ngIf="removeCart" mat-raised-button color="warn" class="form-button"
          (click)="removeToCart(productData.id)">Remove to Cart</button>
        <button *ngIf="!removeCart" mat-raised-button color="primary" class="form-button" (click)="addToCart()">Add to
          Cart</button>
      </div>
      <br>
      <br><br>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem ipsa natus porro magnam reiciendis, voluptatibus
        enim, magni ab dolores doloribus nam corrupti! Rem esse ad tempora sunt laudantium cupiditate molestiae.</p>
      <br>
      <mat-divider></mat-divider>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem ipsa natus porro magnam reiciendis, voluptatibus
        enim, magni ab dolores doloribus nam corrupti! Rem esse ad tempora sunt laudantium cupiditate molestiae.</p>
      <br>
      <mat-divider></mat-divider>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem ipsa natus porro magnam reiciendis, voluptatibus
        enim, magni ab dolores doloribus nam corrupti! Rem esse ad tempora sunt laudantium cupiditate molestiae.</p>
      <br>
      <mat-divider></mat-divider>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem ipsa natus porro magnam reiciendis, voluptatibus
        enim, magni ab dolores doloribus nam corrupti! Rem esse ad tempora sunt laudantium cupiditate molestiae.</p>
      <br>
      <mat-divider></mat-divider>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem ipsa natus porro magnam reiciendis, voluptatibus
        enim, magni ab dolores doloribus nam corrupti! Rem esse ad tempora sunt laudantium cupiditate molestiae.</p>
      <br>
      <mat-divider></mat-divider>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem ipsa natus porro magnam reiciendis, voluptatibus
        enim, magni ab dolores doloribus nam corrupti! Rem esse ad tempora sunt laudantium cupiditate molestiae.</p>
      <br>
      <mat-divider></mat-divider>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem ipsa natus porro magnam reiciendis, voluptatibus
        enim, magni ab dolores doloribus nam corrupti! Rem esse ad tempora sunt laudantium cupiditate molestiae.</p>
      <br>
      <mat-divider></mat-divider>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem ipsa natus porro magnam reiciendis, voluptatibus
        enim, magni ab dolores doloribus nam corrupti! Rem esse ad tempora sunt laudantium cupiditate molestiae.</p>
      <br>
      <mat-divider></mat-divider>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem ipsa natus porro magnam reiciendis, voluptatibus
        enim, magni ab dolores doloribus nam corrupti! Rem esse ad tempora sunt laudantium cupiditate molestiae.</p>
      <br>
      <mat-divider></mat-divider>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem ipsa natus porro magnam reiciendis, voluptatibus
        enim, magni ab dolores doloribus nam corrupti! Rem esse ad tempora sunt laudantium cupiditate molestiae.</p>
      <br>
      <mat-divider></mat-divider>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem ipsa natus porro magnam reiciendis, voluptatibus
        enim, magni ab dolores doloribus nam corrupti! Rem esse ad tempora sunt laudantium cupiditate molestiae.</p>
      <br>
<mat-divider></mat-divider>
    </mat-card>
  </mat-card-content>
</mat-card>


<div class="Specifications-accordion">
  <mat-accordion>
    <mat-expansion-panel class="Specifications-expen">
      <mat-expansion-panel-header>
        <h1>
          Specifications
        </h1>
      </mat-expansion-panel-header>

      <mat-card class="expansion_panel_header_0">
        <h2> Product Category</h2>
        <div class="expansion_panel_header_1">
          <mat-card class="expansion_panel_header_2">
            <h4> Device Type</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, itaque! Lorem ipsum dolor sit, amet
              consectetur adipisicing elit. Officia velit a ipsum similique id aperiam sunt aliquam voluptas illum
              voluptatem natus assumenda, iure deserunt in!</p>

          </mat-card>
          <mat-card class="expansion_panel_header_3">
            <h4> Device Type</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, itaque! Lorem ipsum dolor sit, amet
              consectetur adipisicing elit. Officia velit a ipsum similique id aperiam sunt aliquam voluptas illum
              voluptatem natus assumenda, iure deserunt in!</p>

          </mat-card>
          <mat-card class="expansion_panel_header_4">
            <h4> Device Type</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, itaque! Lorem ipsum dolor sit, amet
              consectetur adipisicing elit. Officia velit a ipsum similique id aperiam sunt aliquam voluptas illum
              voluptatem natus assumenda, iure deserunt in!</p>
          </mat-card>

        </div>
      </mat-card>
      <mat-divider></mat-divider>



      <div class="view_button">
        <div *ngIf="showContent">
          <mat-card class="expansion_panel_header_0">
            <h2> Product Category</h2>
            <div class="expansion_panel_header_1">
              <mat-card class="expansion_panel_header_2">
                <h4> Device Type</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, itaque! Lorem ipsum dolor sit, amet
                  consectetur adipisicing elit. Officia velit a ipsum similique id aperiam sunt aliquam voluptas illum
                  voluptatem natus assumenda, iure deserunt in!</p>

              </mat-card>
              <mat-card class="expansion_panel_header_3">
                <h4> Device Type</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, itaque! Lorem ipsum dolor sit, amet
                  consectetur adipisicing elit. Officia velit a ipsum similique id aperiam sunt aliquam voluptas illum
                  voluptatem natus assumenda, iure deserunt in!</p>

              </mat-card>
              <mat-card class="expansion_panel_header_4">
                <h4> Device Type</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, itaque! Lorem ipsum dolor sit, amet
                  consectetur adipisicing elit. Officia velit a ipsum similique id aperiam sunt aliquam voluptas illum
                  voluptatem natus assumenda, iure deserunt in!</p>
              </mat-card>

            </div>
          </mat-card>
          <mat-divider></mat-divider>

        </div>


        <button mat-button color="accent" (click)="toggleContent()">
          {{ showContent ? 'View Less' : 'View More' }}
        </button>
      </div>
    </mat-expansion-panel>

  </mat-accordion>
</div>






<!-- <div class="read-more">
  <ng-container *ngIf="!displayContent; else fullContent">
    <p>{{ content | slice:0:4 }}</p>
    <button mat-button color="accent" (click)="togglesContent()">Read More</button>
  </ng-container>
  <ng-template #fullContent>
    <p>{{ content }}</p>
    <button mat-button color="accent" (click)="togglesContent()">Read Less</button>
  </ng-template>
</div> -->





<div class="Specifications-accordion">
  <mat-accordion>
    <mat-expansion-panel class="Specifications-expen">
      <mat-expansion-panel-header>
        <h1>
          Overview
        </h1>
      </mat-expansion-panel-header>

      <h3>why you buy this product</h3>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, repellat.</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, repellat.</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, repellat.</li><br><br><br>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, repellat.</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, repellat.</li>
      <br><br><br>
      <div class="view_button">
        <div *ngIf="showContent">
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur, officia. Lorem ipsum dolor, sit amet
            consectetur adipisicing elit. Amet enim dolores ducimus. Adipisci id vero ipsam ratione nostrum maiores
            consequatur aliquam rerum sunt quia veniam reprehenderit beatae, quibusdam veritatis obcaecati ullam
            expedita! Laboriosam rem harum, consectetur illum ullam quibusdam mollitia earum, numquam, quisquam debitis
            provident! Molestiae officia deserunt veritatis ducimus. dolor, sit amet consectetur adipisicing elit. Amet
            enim dolores ducimus. Adipisci id vero ipsam ratione nostrum maiores consequatur aliquam rerum sunt quia
            veniam reprehenderit beatae, quibusdam veritatis obcaecati ullam expedita! Laboriosam rem harum, consectetur
            illum ullam quibusdam mollitia earum, numquam, quisquam debitis provident! Molestiae officia deserunt
            veritatis ducimus.</p>
          <br><br>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur, officia. Lorem ipsum dolor, sit amet
            consectetur adipisicing elit. Amet enim dolores ducimus. Adipisci id vero ipsam ratione nostrum maiores
            consequatur aliquam rerum sunt quia veniam reprehenderit beatae, quibusdam veritatis obcaecati ullam
            expedita! Laboriosam rem harum, consectetur illum ullam quibusdam mollitia earum, numquam, quisquam debitis
            provident! Molestiae officia deserunt veritatis ducimus. dolor, sit amet consectetur adipisicing elit. Amet
            enim dolores ducimus. Adipisci id vero ipsam ratione nostrum maiores consequatur aliquam rerum sunt quia
            veniam reprehenderit beatae, quibusdam veritatis obcaecati ullam expedita! Laboriosam rem harum, consectetur
            illum ullam quibusdam mollitia earum, numquam, quisquam debitis provident! Molestiae officia deserunt
            veritatis ducimus.</p>
        </div>
        <button mat-button color="accent" (click)="toggleContent()">
          {{ showContent ? 'View Less' : 'View More' }}
        </button>
      </div>

    </mat-expansion-panel>

  </mat-accordion>
</div>




<mat-card class="slider-container-org">
  <div class="slider-heading-org">
    <h1>People also search these products</h1>
    <div class="slider-wrap-org">
      <div class="slider-main-org">
        <mat-card class="item   item-main" *ngFor="let item of trendyProducts">
          <div class="item5-org">
            <div class="category-name-org">{{ item.name }}</div>
            <img src="{{ item.image }}" alt="">
          </div>
        </mat-card>
      </div>

      <div class="button-area-org">
        <button mat-icon-button class="prev-org  " appPrev><mat-icon>keyboard_arrow_left</mat-icon></button>
        <button mat-icon-button class="next-org  " appNext> <mat-icon>keyboard_arrow_right</mat-icon></button>
      </div>
    </div>
  </div>
</mat-card>






<!-- <mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        This is the expansion title
      </mat-panel-title>
      <mat-panel-description>
        This is a summary of the content
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel>
</mat-accordion> -->

