
.filter-dropdown{
  margin-top:20px ;
}


.mainTable{
  margin-top: 20px;
}
.filterContainer {
  display: flex;

}

.datepicker {
  display: flex; /* Nested flexbox to arrange datepicker items in a row */
}

.startdatepicker, .fitlerbyValue {
  margin-right: 10px; /* Adjust margin between input boxes */
}



.table_datasource{
  margin-bottom: 40px;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
