.item1 {
  margin-top: 15px;
  width: 100%;
  height: 250px;
  background-color: rgba(36, 36, 36, 0.36);
  border: 2px solid black;
  border-radius: 2px;
}

.item2 {
  margin-top: 20px;
  margin-left: 25px;
}

.item3 {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  margin-left: 50px;
  margin-right: 50px;
  /* display: inline-block; */
}

.slider-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 24px;
  color: #333;

}

.slider-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.align-center {
  align-self: center;
}

.item4 {
  margin-left: 15px;
  margin-top: 15px;
  width: 2005px;
  height: 100px;
  border: 1px solid black;
}

.item5 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  align-items: center;
}



.category-name {
  margin-right: 10px;
}

.item5 img {
  max-width: 120px;
  height: 90px;
  margin-right: 5px;
  object-fit: cover;
}





#section-container {
  margin-top: 15px;
  width: 100%;
  height: 220pxpx;
  background-image: linear-gradient(to right, #4a90e2, #8a2be2, #e52b50);

}

.product {
  padding: 20px 0;
}

.slider-wrap {
  position: relative;
  overflow: hidden;
  height: 150px;
}

.slider-main {
  position: absolute;
  width: 300%;
}

.item-sep {
  display: inline-block;
  width: 225px;
  height: 120px;
  background-color: white;
  position: relative;
  margin: 0 12px;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 24px;
  font-weight: bold;
}

.text img {
  max-width: 120px;
  height: 90px;
  margin-right: 5px;
}

.prev {
  position: absolute;
  left: 33px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.next {
  position: absolute;
  right: -7px;
  top: 50%;
  transform: translate(-50%, -50%);
}






.slider-container-org {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
  height: 240px;
  background-image: linear-gradient(to right, #4a90e2, #8a2be2, #e52b50);
  border-radius: 15px;
  overflow: hidden;
}

.slider-heading-org {
  margin-top: 20px;
  /* margin-left: 25px; */
}

.slider-wrap-org {
  position: relative;
  overflow: hidden;
  height: 150px;
}

.slider-main-org {
  position: absolute;
  width: 1000%;
}

.item-sed {
  display: inline-block;
  width: 228px;
  height: 120px;
  background-color: white;
  position: relative;
  margin: 0 12px;
  vertical-align: middle;
}

.item5-org {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100px;
  align-items: center;

}

.category-name-org {
  margin-right: 10px;
  padding: 10px;
}

.item5-org img {
  max-width: 120px;
  padding: 10px;
  height: 107px;
  margin-top: 20px;
  object-fit: cover;
}

.prev-org {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.prev-org:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.next-org {
  position: absolute;
  right: -40px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.next-org:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}






.product-header-image {
  object-fit: contain;
  width: 100%;
  height: 600px;
}




.product-list-wrapper {
  background-color: black;
  color: white;

}

.product-item {
  margin-bottom: 40px;
  /* border: 1px solid #ccc; */
  background-color: black;
  color: white;

}

.product-card {
  background-color: black;
  color: white;
}

.product-item img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}

.product-item .product-details {
  /* border-top: 1px solid #ccc; */
  /* border-bottom: 1px solid #ccc; */
  padding: 15px;
}

.product-item .name-head {
  font-size: 20px;
  font-weight: 600;
}

.product-item h6 {
  text-align: center;
}

.product-item .product-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}



.best_Seller_Drone_mat_card {
  margin-top: 15px;
}

.bestSellerDrone {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  overflow-x: auto;

}

.bestSellerDrone::-webkit-scrollbar {
  display: none;
}

.bestSellerDroneCard {
  height: 400px;
  width: 350px;
  margin-bottom: 20px;
  border-radius: 15px;
  position: relative;
  margin: 10px;
}

.best_Seller_Drone_Image {
  height: 350px;
  width: 350px;
  overflow: hidden;
}

.best_Seller_Drone_Image img {
  border-radius: 15px 15px 0 0;

  width: 100%;
  height: 100%;
  object-fit: cover;
}

.best_Seller_Drone_Tittle {
  background: #f5f5f5;
  padding: 10px;
  border-radius: 0 0 15px 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.best_seller_drone_name h2 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.best_seller_drone_name p {
  margin: 5px 0;
  font-size: 16px;
  color: #666;
}

.best_seller_drone_Shop_Button {
  position: absolute;
  bottom: 25px;
  right: 15px;
}

.best_seller_drone_Shop_Button a {
  text-decoration: none;
  color: white;
  background-color: #007bff;
  padding: 5px 10px;
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {
  .bestSellerDrone {
    flex-wrap: nowrap;
  }

  .bestSellerDroneCard {
    height: auto;
    /* Set height to auto to allow content to determine height */
    width: 100%;
    /* Set width to 100% to make it fill the available space */
    max-width: 300px;
    /* Set a maximum width for better responsiveness */
    margin-right: 15px;
    margin-bottom: 0;
  }

  .best_Seller_Drone_Image {
    height: 200px;
    /* Adjust height as needed */
    width: 100%;
    /* Make image fill the width */
  }
}


/* shop_by_categories */


.shop_by_categories {
  margin-top: 20px;
  margin-left: 20px;
}

.shop_by_categories>h2 {
  font-family: sans-serif;
  letter-spacing: 1;
  word-spacing: 3px;
}

.shop_by_categories_main_div {
  display: flex;
  flex-direction: row;
  overflow-x: auto;

}

.shop_by_categories_main_div::-webkit-scrollbar {
  display: none;
}

.shop_by_categories_card {
  height: auto;
  width: 200px;
  margin: 20px;


}

.shop_by_categories_Image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.shop_by_categories_Image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.shop_by_categories_Tittle>p {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 10px;
  text-align: center;
  letter-spacing: .3;
  word-spacing: 1px;
}


/* repalcement style  */

.replcement_categories_main_div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 7.5px 15px;
  margin: 15px;
}


.replcement_categories_tittle {
  text-align: center;
  height: auto;
  width: 200px;
}

.replcement_categories_tittle img {
  width: 115px;
  height: 115px;
  object-fit: cover;
}

.replcement_categories_tittle p {
  margin-top: 5px;
  font-size: 18px;
  letter-spacing: 1;
  word-spacing: 2px;
  font-family: sans-serif;
  text-wrap:wrap ;
}

.replcement_categories_tittle p span {
  font-weight: 800;

}
@media screen and (max-width: 760px) {
  .replcement_categories_tittle p {
    margin-top: 5px;
    font-size: 14px;
    letter-spacing: 1;
    word-spacing: 2px;
    font-family: sans-serif;
    text-wrap: wrap;
    line-height: 1.5;
    white-space: pre-wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}






/* .replcement_categories_main_div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 15px;
  margin: 15px;
  flex-wrap: wrap;
}

.replcement_categories_tittle {
  text-align: center;
  width: 200px;
  margin: 10px;
}


.replcement_categories_tittle img {
  width: 115px;
  height: 115px;
  object-fit: cover;
}

.replcement_categories_tittle p {
  margin-top: 5px;
  font-size: 16px;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-family: sans-serif;
}

.replcement_categories_tittle p span {
  font-weight: 800;
}


@media screen and (max-width: 768px) {
  .replcement_categories_tittle {
    width: 150px;
}

@media screen and (max-width: 480px) {
  .replcement_categories_tittle {
    width: 100%;
    margin: 10px 0;
  }
}

} */
